## Feature Engineering

To engineer a useful feature is a hard task and almost always needs iteration. During the data cleaning process, we already computed and used the Body-Mass-Index to filter out outliners. Now we are going to compute a few variables which may be useful for our analysis. Also we are going to encode our categorial variables in one way or another, so that our algorithmens are able to understand and use them efficiently.

In [4]:
# Basic Python Libs
import json
import numpy as np
import pandas as pd

Let's import our cleaned dataset.

In [6]:
data_path = "Data\\Cleaned\\"
file_name = "order_cleaned.csv"

df = pd.read_csv(data_path+file_name, delimiter=',')
df = df.drop(columns=['Unnamed: 0'])
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
order,78309,NaN,NaN,NaN,39419.2,22756.7,0,19718,39425,59124,78833
age_in_years,78309,NaN,NaN,NaN,35.8998,10.3806,15,28,35,42,79
category,78309,2,T-Shirts,40852,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_group,78309,8,Slim fit,20397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
height_in_cm,78309,NaN,NaN,NaN,181.049,6.73143,149.5,176.3,180.8,185.3,218.8
date_shipped,78309,253,2017-06-28 00:00:00,743,NaN,NaN,NaN,NaN,NaN,NaN,NaN
size,78309,5,M,26680,NaN,NaN,NaN,NaN,NaN,NaN,NaN
color,78309,15,Blue,39973,NaN,NaN,NaN,NaN,NaN,NaN,NaN
item_returned,78309,NaN,NaN,NaN,0.50514,0.499977,0,0,1,1,1
weight_in_kg,78309,NaN,NaN,NaN,82.8216,11.109,49,75,82.3,89.8,132.1
price_in_euro,78309,NaN,NaN,NaN,7.46033,1.36304,2.24,6.3,7.39,8.52,11.66
BMI,78309,NaN,NaN,NaN,25.2436,2.93211,15.0527,23.2567,24.9457,27.0268,34.9927
BMI_describtion,78309,5,Healthy weight,39326,NaN,NaN,NaN,NaN,NaN,NaN,NaN